<div class="container my-5">
    <h1 class="text-center text-primary" style="text-shadow: 0 0 3px aqua;">{{tenMH}}</h1>
    <div class="content">
        <div class="content-head">
            <p class="fs-3 m-0">Kết quả kiểm tra của: <b>{{currentUser.fullname}}</b></p>
            <p class="fs-6">Số trúng tuyển: <b>{{currentUser.username}}</b></p>
        </div>
        <div class="content-body mt-5">
            <span class="h4 text-uppercase fw-bold">Bảng Kết Quả</span>
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th>Kết Quả</th>
                        <th>STT</th>
                        <th>Ngày</th>
                        <th>Số Câu Hỏi Đã Trả Lời</th>
                        <th>Điểm</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr ng-repeat="list in listAnswers" ng-hide="list.status == 'incomplete'">
                        <th class="{{list.mark >= 7 ? 'text-success' : 'text-danger'}}">{{list.mark >= 7 ? "Pass" : "Fail"}}</th>
                        <td>{{$index + 1}}</td>
                        <td>{{list.workday | date:'dd/mm/yyyy'}}</td>
                        <td>{{list.totalQuestionsDone}}/{{list.totalQuestions}}</td>
                        <td>{{list.mark}}</td>
                        <td><a href="#!/detailsanswers?idMH={{idMH}}&idListQuestions={{list.$id}}" ng-click="getId(list.$id)">Xem Chi Tiết</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>